.content
  .header
    .header-left
      .title-main
        LAZY-WEAR
    .header-right
      .header-right__signup
        = link_to '' do
          signup
      .header-right__login
        = link_to '' do
          login
      .g-nav
        %ul.g-nav__menu
          %li
            = link_to '', class: "g-nav__menu__item" do
              マイページ
          %li
            = link_to '', class: "g-nav__menu__item" do
              登録する
          %li
            = link_to '', class: "g-nav__menu__item" do
              フォロー/フォロワー
          %li
            = link_to '', class: "g-nav__menu__item" do
              ログアウト
          %li
            = link_to '', class: "g-nav__menu__item" do
              LazyWearとは
      .sp-menu 
        = link_to '', class: "menu-trigger", onclick: "return false" do
          %span
          %span
          %span
  .sub-title
  %p毎日の、洋服選びをシンプルに。
  .content-main